body{
   background-color: rgb(60, 60, 60);
   color: rgb(230, 250, 240);
}

a, li{
   display: flex;
   justify-content: center;
	align-items: center;
}

a:active, a:visited{
   color: tomato;
}

h1{
   text-align: center;
   font-family: montserrat;
}

.personal-photo{
   display: block;
   margin-left: auto;
   margin-right: auto;
   border: 5px solid rgb(230, 250, 240);
   border-radius: 255px;
   height: 250px;
}

.about{
   font-family: monospace;
   text-align: center;
   margin: 25px 400px;
   display: inline-block;
}

ul {
   list-style-type: none;
 }