body {
  background-image: url('img/bg5.jpeg');
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  margin-bottom: -40px;  
}

header {
  background-color: rgba(0 , 0 , 0 , 0.3);
  font-size: 30px;
  height: 100px;
  padding-top: 1px;
}

.botao {
  box-shadow: 1px 1px 3px rgb(58 , 58 , 58), 0 0 0.5em rgb(24, 23, 23);
  cursor: pointer;
  height: 25px;
  margin: 0 3px;
}

.circulo {
  background-image: url('img/rocket.png');
  background-position: top;
  background-size: cover;
  border: rgba(0 , 0 , 0 , 0.5) double 2px;
  border-radius: 50%;
  display: inline-block;
  height: 70px;
  opacity: 0.2;
  position: absolute;
  right: 28px;
  top: 100px;
  width: 70px;
}

.completed {
  text-decoration: line-through solid rgb(182, 20, 20);
}

.controles {
  margin: 7px auto;
  text-align-last: center;
}

fieldset {
  background-color: rgba(240, 231, 231, 0.6);
  border-radius: 5px;
  margin: 0;
  max-height: 600px;
  min-height: 300px;
  padding: 0;
}

.funcionamento {
  background-color: rgba(0 , 0 , 0 , 0.8);
  font-size: 17px;
  margin-bottom: 5px;
  margin-top: 100px;
  text-align: center;
  color: aliceblue;
}

h1 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 4px;
  margin-bottom: 0;
  margin-top: 10px;
  text-align: center;
  text-shadow: 1px 1px 2px black, 0 0 1em;
}

legend {
  font-size: 40px;
}

li {
  font-size: 23px;
  font-weight: bolder;
  line-height: 25px;
  list-style-type: decimal-leading-zero;
  padding-left: 5px;
}

.lista-tarefas {
  max-height: 380px;
  overflow-y: scroll;
}

main {
  height: 535px;
  margin: 0 auto;
  margin-bottom: 75px;
  position: relative;
  width: 500px;
}

.selecionado {
  background-color: rgb(66, 66, 66);
  color: white;
  width: 96%;
}

.selecionado::marker {
  color: black;
}

.tarefas {
  text-align: center;
}

.texto-tarefa {
  border-radius: 3px;
  box-shadow: 0 0 0.2em white;
  height: 21px;
  opacity: 0.7;
  padding-left: 5px;
  padding-right: 5px;
  width: 250px;
}

.page-footer {
  background-color: rgba(0 , 0 , 0 , 0.7);
  bottom: 0;
  color: rgb(190, 188, 188);
  display: block;
  font-size: 16px;
  margin-top: 50px;
  padding: 20px;
  position: fixed;
  text-align: center;
  width: 100%;
}
